//misc settings
@import 'config/_settings';
@import 'config/_mixins';

//frameworks

//global things
@import 'general/_reset';
@import 'layout/_main';
//banner

.caret {
    display: none !important;//select option none
}
.inline-block{
    display: inline-block !important;
}

.txtTopo{
    color: #FFF;
    font-size: 11pt;
    text-transform: uppercase;
}
//menu
.navbar-default{
    //menu
    border-bottom: 2px solid #FFF;
    li{
        //margin entre o ultimo botao e icon         
         &:last-child{
            margin-right: 50px;
        }
    }
    //icones
    .fa{
        position: relative;
        top: 5px;        
        font-size: 14pt;        
        
        //margin entre o logo e icon
        &:first-child{
            margin-left: 50px;
        }
        &:hover{
            color: $amareloNeon !important;
        }        
    }

    //botoes a direita
    .icon-left{
        line-height: 1.2em;  
        font-size: 7pt !important;
        margin-left: 20px;
        &::before{
            float: left !important;
            left: 0px;
            right: 100% !important;
            font-size: 14pt;
            left: -15px;           
           top: 21px;
        }
        &:nth-child(3){
            &::before{
                padding-left: 10px;
                left: -28px;
            }
        }
    }

    //submenu
    ul.menu li {  
        a:hover{
            color: $amareloNeon
        }      
            ul{
                display: none;        
                text-align: left;
                li{
                    a{                        
                        color: $primary;
                    }
                    a:hover{
                        color: $primary
                    }   
                   
                }
            }        

        &:hover{                        
            ul{                
                margin-top: 3px;
                margin-left: 50px;
                position: absolute;
                display: block;
                background: #FFF;                
                li{
                    display: block;
                    font-size: 10pt;
                    padding: 8px;
                    &:hover{
                        
                        a{text-decoration: underline; }
                    }
                   
                }
            }
        }
    }
}

.btn-ddprimary {
    background: #003a63;
    border: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-right-style: none;
    border-left-style: none;
    border-right-color: currentcolor;
    border-left-color: currentcolor;
    color: #eaff00;
    padding: 0px 10px 0px 13px;
    padding-right: 10px;
    padding-left: 13px;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    &:hover{
        color: $branco !important;
    }
}

nav{
    background: #003a63 !important;
    border-radius: 0px !important;
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    top: 0;
    
    li.logo{
        a{
            top: 4px !important;
            img{  
                width: 120px;
            }
        }
    }
    
    .navbar-toggle{
        color: $branco !important;
        background: $branco;
        span{
            color: $branco !important;
            background: $branco;
        }
    }

    .navbar-brand{
        margin-top: -16px !important;
        padding-left: 25px;
        max-width: 100%;   
        img{
            width: 120px;
        } 
    }
    ul{
        display: inline;
        li{
            display: inline-block;            
            color: $branco;
            font-weight: bold;             
            a{
                color: $branco;
                font-weight: bold;
                span.refCartao{
                    color: $amareloNeon;
                    font-style: italic;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        
    }
    .logo-prefeitura{
        max-height: 40px;
        margin-top: -3px; 
        margin: 0px 20px ;
        //margin-left: 13%;
    }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
  
.esconder{
    display:none !important;
}
.vertical-center{
    /* Internet Explorer 10 */
display:-ms-flexbox !important;
-ms-flex-pack:center !important;
-ms-flex-align:center !important;

/* Firefox */
display:-moz-box !important;
-moz-box-pack:center !important;
-moz-box-align:center !important;

/* Safari, Opera, and Chrome */
display:-webkit-box !important;
-webkit-box-pack:center !important;
-webkit-box-align:center !important;

/* W3C */
display:box !important;
box-pack:center !important;
box-align:center !important;
}
.slider div.slide{height: 100vh;min-height: 500px}
.esconder{display: none}
.strong{font-weight: bold}
.width50{width: 50%;}
.slider{
    div.slide{
        height: 100vh;
        min-height: 600px
    }
    //INICIO SLIDE
    #nav-slide{
        ul{
            cursor: pointer;
            position: absolute;
            left: 50%; 
            color: $primary;
            z-index: 1000;
            top: 200%;
            margin-left: -18px;
            .slide-active{
                background: $primary !important;
            }
            li{
                width: 10px;
                height: 10px;
                text-indent: -999em;
                background: #CCC !important;
                float: left;
                margin: 0 3px;
                list-style: none;
                border-radius: 100%;
            }
        }
    }
    
    
    h1{
        font-size: 34pt;
    }

    h2{
        font-size: 28pt;
    }

    //SLIDE3
    #slide1{
        background: url('https://www.ddtotal.com.br/meucartaocidadao/images/banner/bg-menos-iptu.jpg');    
       
    }
    //SLIDE 4
    #slide2{  
        background: url('../images/banner/bg-estabelecimento.jpg');
        background-size: percentage;
        background-position: top center ;
    }
    //FIM SLIDE
}
//pages
html,body{
    height: 100%;
}
img{
    max-width: 100%;
}
*{
    font-family: 'Roboto';
    font-size: 12px;
}

.tamanho1{
    .desconto{
        font-size: 38pt;
        height: 100px;
        top: -20px;
        width: 110px;
        right: 16px;

    } 
    h3{
        font-size: 24pt;
        margin-top: 12px;
    }
    .carousel-caption{
        height: 100px;
    }
}

.tamanho3,.tamanho2{
    .desconto{
        font-size: 20pt;
        width: 80px;
        height: 75px;

    } 
}

 .tamanho4{
        h3{
            font-size: 8pt;
        }
        p{
            font-size: 12pt;
        }
    }

nav.navbar-default{
    width: 100%;
    position: fixed;
    top: 0px;
    background: rgba(255,255,255,0.9);
    z-index: 100000;
    height: 53px;
}


section.pesquisar{
    /*padding-top: 50px;*/
    /*background-image: url("../images/topo_site.jpg");*/
    background: #003A63;
    background-position: bottom;
    background-size: cover;
    /*min-height: 250px;*/
    border-bottom: 1px solid #CCC;

     ul.categoria{
        li{
            display: inline-block;
            color: #FFF;
            width: 19.7%;
            text-align: center;
            border-right: 1px solid #FFF;
            font-weight: bold;
            font-size: 12pt;
            padding: 10px;
            &:hover{
                background: rgba(135,171,179,0.8);
                cursor: pointer;
            }
            &:last-child{
                border-right: 0px;
            }
        }
    }

    input{ 
        color: #CCC;
        padding: 11px;
        &::-moz-placeholder{
            color: #CCC;
        }            
    }
    select{
        height: 40px !important;        
        padding: 0px 10px;

    }
    button{
        padding: 11px;
    }
    h1{
        font-size: 24pt;
        display: inline-block;
        padding: 10px;
    }
    .btn-primary{
        border-color: #568296;
    }
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    
}

section.pesquisar{
   

    form{
        /*padding: 20px;*/
        .col-sm-8{
            padding: 1px;
        }
        .col-sm-2{
            padding: 1px;
        }
    }
}

.row.categorias{
    
    padding: 20px;
    margin-bottom: 5px;
    img{
        max-height: 74px;
        margin: 10px;        
    }
    .form-control{
        height: 45px !important;
    }
}

.categoria{
    .active{
        background: rgba(108, 148, 163, 0.8);
    }
}
.btn{
    cursor: pointer;
}
#carouselTam1{
    .carousel-caption{
        /*background: rgba(0, 59, 100, 0.3);*/
        background-color: #336283;
        width: 100%;
        right: 0% !important;
        left: 0%;  
        bottom: 0px;      
    }  
}

.absolute{
    position: absolute;
    z-index: -1;
}
.maisDetalhes{
    color: rgb(0,59,100); 
    .fechar{
        cursor: pointer;
        color: #003A63;
        float: right;
        font-size: 20pt;
        padding-right:  15px;
    }
    background:  rgba(255,255,255,0.97);    
    width: 100%;
    div{
        background:  rgba(255,255,255,0.97);   
    }
    *{
        letter-spacing: 1px;
    }
}


//tam 2
#carouselExampleControls1,#carouselExampleControls4,#tamanho4,.tamanho3{
    .maisDetalhes{
        position: absolute;
        z-index: 1000;
        width: 50%;
        height: 100%;
        top: 0;
    }
}

#tamanho4{
    .maisDetalhes{
        h3{
            font-size: 8pt;
            font-weight: bold;
        }
        *{
            font-size: 6pt;
        }
        span{
            font-size: 7pt;
        }
        .fechar{
            font-size: 10pt;
            cursor: pointer;
        }
    }
}
//tam4
.celtam4{
    .maisDetalhes{
        position: absolute;
        z-index: 1000;
        width: 90%;
        height: 100%;
        top: 0;        
        h3{
            font-size: 8pt;
            font-weight: bold;
        }
        *{
            font-size: 6pt;
        }
    }
}

.DDCaption50{
    background-color: rgba(0,59,100,0.8);    
    /*position: absolute;*/
    color: #FFF;
    bottom: 0px;
    width: 100%;
    height: 75px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    h3{
        font-size: 18pt;
        margin-top: 10px;
    }
}

.DDCaption100{
    background-color: rgba(0,59,100,0.8);    
    
    color: #FFF;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 10px;
    p{
        margin-bottom: 0px;
    }
}

.desconto{
    font-size: 40pt;
    font-weight: bold;            
    color: #FFF;
    width: 53px;
    height: 41px;
    position: absolute;
    top: -14px;
    right: 15px;
    background: rgba(0,0,0,0.5);
}

.btn-primary{
    background: $primary !important;
    border-color: $secundary;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-ddsecondary {
    background: #83aaca;
        background-color: rgb(131, 170, 202);
    border: 0px;
    color: #003a63;
    padding: 0px 5px;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
    background: #FFF;
    height: 30px;
    width: 40px;
    font-size: 10pt;
    margin-top: 10px;
}

.bgCidade{
    background: url("https://www.meucartaocidadao.com.br/promocoes/images/bg-cidade.jpg");
}
/*XS Small*/
@media(min-width:0px) and (max-width:767px){
    
    nav {        
        .btn-ddprimary, .btn-ddsecondary{
             width: 100%;
             margin-top: 7px !important;
         }
         
         .navbar-brand{
            position: relative;
            top: 13px;
            left: -15px;
         }

         .btn-ddsecondary{
             border: 1px solid $azulEscuro;
         }
         ul li{
            display: block;
            font-size: 8pt !important;
            .btn-ddprimary,.btn-secondary{
                font-size: 6pt !important;
            }
            a{
                display:block;
                
            }
         }
         .navbar-collapse{
              padding-bottom: 20px;
         }
    }

        #bs-example-navbar-collapse-1{
            margin: 0px;
            margin-top: 18px;
            background: rgba(131,170,202,1);
            ul{
                li{
                    padding: 10px;
                }
            }
            .hvr-icon-buzz-out:before{            
                margin-top: 0px;
            }
            .btn-ddprimary,.btn-ddsecondary{
                font-size: 8pt !important;
            }
        }
    
    section.pesquisar{
        padding-top: 50px;
    }
    .carousel-caption{
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }
    .slide{
        h3{
            font-size: 10pt !important;
            margin: 0px;
        }
    }
   .desconto{
       font-size: 8pt;
   }

   ul.categoria{
    li{
        width: 100% !important;
        border-bottom: 1px solid #FFF;
        border-right: 0px !important;
    }
   }
}

.celtam4 .maisDetalhes .fechar{
    font-size: 14pt;
}

.buttons{
    margin: auto;
}

/* Small */
@media(min-width:768px) and (max-width:991px){
   
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
 
}

/* Large */
@media(min-width:1200px){
   
}

/*sobrescrevendo bootstrap*/
.carousel-control-next-icon {
    background-image: url("../images/seta_slide_OCT2017.png") !important;
    height: 30px !important;
    width: 30px !important;
}

.carousel-control-prev-icon {
    background-image: url("../images/seta_slide_OCT2017.png") !important;
    height: 30px !important;
    width: 30px !important;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

 .categorias{
    background: #003A63;
    padding: 20px;   
    padding-top: 40px; 
  }
  .categorias .i-categoria{
    margin: 0px 10px;
  }
  .i-categoria{
    background-image: url("../images/categorias/icons-compre-aqui.png");   
    background-repeat: no-repeat; 
    display: inline-block;
    cursor: pointer;    
  }
  .i-beleza-saude{
    width: 50px;
    height: 110px;    
    background-position: 0px 39px; 
  }
  .i-comercio-servico{
    width: 50px;
    height: 110px;    
    background-position: -84px 39px;
  }
  .i-diversao{
    width: 50px;
    height: 110px;    
    background-position: -175px 39px;
  }
  .i-restaurante{
    width: 59px;
    height: 110px;    
    background-position: -262px 39px;
  }
  .i-compre-aqui{
    width: 59px;
    height: 110px;    
    background-position: -356px 39px;
  }
  .i-limpar-consulta{
    width: 77px;
    height: 110px;    
    background-position: -439px 39px;
  }