page-home {
    object{
        width: 30px;
    }
    .button-md{
        background-color: #FFF;
        color: #666;
        box-shadow: none !important;
        border-top: 1px solid #CCC !important;
    }

    .button-inner{
        justify-content: left;
    }

    ion-navbar{
        padding-bottom: 0px;
    }
    ion-header{
        .grid{
            background: red;
            color: #FFF;
            font-size: 8pt;
            ion-icon{
                padding-bottom: 5px;
                font-size: 17pt !important;                
            }
        }
    }

    .enderecoSelecionado{
        background: #FFF !important;
        color: #666 !important;
    }

    ion-item{
        p{
            color: #666;
            font-size: 8pt !important;
        }
    }

    
}
