page-detalhar-pedido {
    ion-header{
        ion-grid{
            background: red;        
            margin: 0px;
            padding: 0px;
        }
    
        ion-col{
            color: #FFF;
            span{
                color: #EEE;
            }
        }
    }

    .grid{
        padding: 0px;
    }
    .colHeader{
        background: #F5F5F5;
        padding: 10px;
    }

    .detalhes{
        font-size: 10pt;
    }
    .vlTotal{
        color: green;
    }

}
