// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



ion-navbar{
    .searchbar-md .searchbar-input{
        border-radius: 20px;
    }
    ion-icon{
        color: #FFF;
    }
}
.toolbar-background-md {
    border-color: red;
    background: red;
}



.center{
  align-items: center;
}

.button-md{
    background-color: red;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: red;
}

.tabs-md .tab-button[aria-selected=true]{
    color: red;
}

.toolbar-title-md{
    color: #FFF;
}

.tab-button-text{
    font-size: 8pt !important;
}

$alert-input-placeholder-color: red;
$colors: (
    primary:    #f53d3d,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222
  );